enable-pre-post-scripts=true
onlyBuiltDependencies[]=electron
onlyBuiltDependencies[]=esbuild
onlyBuiltDependencies[]=app-builder-bin
onlyBuiltDependencies[]=dmg-license
onlyBuiltDependencies[]=iconv-lite
onlyBuiltDependencies[]=macos-alias
onlyBuiltDependencies[]=@parcel/watcher
onlyBuiltDependencies[]=keytar